.ipynb_checkpoints/
*grid.out
*.npy
*.fits

# Ignore log files and Mac icon config
*log.log
*.DS_Store

# For now ignore the user priors
# we may want to commit these eventually, thought they should be
# generated programmatically anyways
*user_prior.py

# Ignore the figures we use for sharing exploratory results
# These figures can be regenerated in the Jupyter notebook
# The important figures go in the paper and are committed in git
results/*.png
results/*.pdf

# Ignore custom direnv.net file, machine-specific
.envrc

# Ignore the final paper pdf for now, it is programmatically generated
document/final

# Ignore literature data that is retrieved through permalinks at journals
data/lit

# Ignore the imaging data which has instructions for its retrieval in the readme and can be large, especially for PanSTARRS
data/imaging/2MASS
data/imaging/PanSTARRS
